# Virtual environment
.venv
venv/
env/
ENV/

# Environment variables
.env
.env.local
.env.prod

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Logs
*.log
logs/

# Database
*.db
*.sqlite3

# Testing
.coverage
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Deployment
.dockerignore
Dockerfile